
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <%= link_to "littleSTEM Books", root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class:"page-scroll"%></li>
        <li><%= link_to "About", "#about-section", class:"page-scroll"%></li>
        <li><%= link_to "Testimonials", "#testimonials-section", class:"page-scroll"%></li>
        <li><%= link_to "Donate", "https://www.fracturedatlas.org/site/fiscal/profile?id=12967", class:"btn", target: "_blank"%></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1 class="wow zoomIn"><span class="brand">WELCOME TO littleSTEM BOOKS</span></h1>
    <div class="clearfix"></div>

</header>
  </div>

<!-- About Section -->

<div id="about-section" class="container">
  <div class="row">
    <div class="section-title text-center center wow fadeInDown">
        <h2>About us</h2>
        <hr>
    </div>

    <div class="row wow fadeInDown" data-wow-delay="200ms">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
          <div class="about-text">
            <div class="text-center center">
              <h3><span class="color">WHO WE ARE</span></h3>
              <p>We are a team that makes beautiful picture
                      books showing young girls engaged with science
                      and technology-related themes.
              </p>
              <h3><span class="color">OUR MISSION</span></h3>
              <p>We want children to see themselves in the images of the
              books they read.</p><p>Donations by supporters and purchases of our books help us fund free picture books for libraries, schools, and after-school organizations.</p><p>Together, we can help encourage girls to see careers in STEM (science, technology, engineering, and math) as goals and options from a young age.
              </p>
              <h3><span class="color">OUR PHILOSOPHY</span></h3>
              <p>We believe books help show children who they can become. </p>
              <p>We want the little ones who enjoy our books
                      to self-identify as kids who like science and
                      math, so they'll keep STEM-related careers in
                      their minds in the future.
              </p>
              <p>We believe this is one way to
                      help young girls and boys see
                      that STEM is for everyone.
              </p>
            </div>
          </div>
          <div class="book-image">
            <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
              <%= image_tag "cover.jpg", class: "img-responsive center-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container test">
    <div class="section-title wow fadeInDown" id="tell-me-more-section">
    <h2 id="tell-me-more-section">Tell Me More About Your New Book</h2>
          <div class="container">
            <p><h3>
              <span><em>Serena Sees Her Footprints on the Moon</em></span> is about a young girl who imagines a fun trip to the Moon, where she plays with some of the objects left
              behind up there by the Apollo astronauts.
            </h3></p>

          </div>
      <hr>
      <h2>Praise for "Serena"</h2>
      <div class="container">
      <p><h3>We read the book as family and we loved it.<h3></p>
      <p><h3>Your book made a real impression on my 3 (almost 4) year old daughter.</h3></p>
      <p><h3>The next morning she said 'Daddy, did you know there are footprints on the moon?' Good work! - Robert M.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>Such a lovely book.  Pure poetry.  The narration is at once elegiac and triumphant.  I love the confidence Serena exudes.</h3></p>
      <p><h3>Readers will be spurred to do more research into the history of the Moon landings after reading “Serena”! - Christine R.</h3></p>
      </div>
      <hr>

      <div class="container">
      <p><h3>I think this is a great story for younger girls. I like how it not only inspires girls to reach for the things they didn’t know possible, but also tells them a lot bit about what the moon is like. </h3></p>
      <p><h3>This is definitely a great way to get get girls interested in STEM fields from a young age. - Alli. B.</h3></p>
      <hr>
      </div>

      <div class="clearfix"></div>
    </div>
<!-- Donate Section -->
<div id="donate" >
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Donate to <span>little</span>STEM Books</h2>
      <%= link_to "Yes, I Support littleSTEM's Mission!", "https://www.fracturedatlas.org/site/fiscal/profile?id=12967", class: "btn", target: "_blank" %>
      <h3>Thank you for your support.</h3>
      <h3>Your contribution helps give more books for free to little readers everywhere!</h3>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Buy our Book Section -->
<div id="contact-section buy-book" >
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Get your copy of <i>Serena Sees</i> Here!</h2>
      <%= link_to "Buy Book", "https://gumroad.com/l/softcover", class: "btn", target: "_blank" %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Buy our itunes Section -->
<div id="contact-section buy-book" >
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h3>Check out our book for only 99 cents on <span>i</span>Tunes!</h3>
      <%= link_to image_tag("app-store-icon.svg"), "https://itun.es/us/CnX6bb.l", target: "_blank", class: "app-store-link" %>
      <hr>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<div id="footer" class="text-center">
  <div class="container">
    <%= link_to "Contact Us", "mailto:sean@agstem.org" %>
    <p>Copyright &copy; 2016 littleSTEM Books, a 501(c)3 non-profit organization based in the U.S.A. All rights reserved.</p>

    <p>FracturedAtlas handles donations-processing for over 58,000 arts-related projects, including <%= link_to "littleSTEM Books", "https://www.fracturedatlas.org/site/fiscal/profile?id=12967",target: "_blank" %>.</p>
  </div>
</div>