
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <%= link_to "littleSTEM Books", root_path, class:"navbar-brand" %>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class:"page-scroll"%></li>
        <li><%= link_to "Our Book", "#tell-me-more-section", class:"page-scroll" %></li>
        <li><%= link_to "About", "#about-section", class:"page-scroll"%></li>
        <!-- <li><%= link_to "Our Books", "#works-section", class:"page-scroll", target: "_blank"%></li> -->
<!--         <li><%= link_to "Team", "#team-section", class:"page-scroll"%></li> -->
        <li><%= link_to "Testimonials", "#testimonials-section", class:"page-scroll"%></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1 class="wow zoomIn">Welcome to <span class="brand">littleSTEM Books</span></h1>
<!--     <p class="wow fadeInDown" data-wow-delay="600ms">We make science-themed picture books for the littlest readers.</p> -->
    <div class="clearfix"></div>
<!--     <a href="#about-section" class="btn button wow fadeInDown" data-wow-delay="100ms">Find Out More</a> </div> -->
</header>
  </div>

<!-- About Section -->

<div id="about-section" class="container">
  <div class="row">
    <div class="section-title text-center center wow fadeInDown">
        <h2>About us</h2>
        <hr>
    </div>

    <div class="row wow fadeInDown" data-wow-delay="200ms">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
          <div class="about-text">
            <div class="container text-center center">
              <h3><span class="color">WHO WE ARE</span></h3>
              <p>We are a team that makes beautiful picture
                      books showing young girls engaged with science
                      and technology-related themes.
              </p>
              <h3><span class="color">WHAT WE DO</span></h3>
              <p>We use the writing and artwork of our books
                      to engage our young readers and teach them fun
                      facts about the universe around them.
              </p>
              <h3><span class="color">OUR PHILOSOPHY</span></h3>
              <p>We want the little ones who enjoy our books
                      to self-identify as kids who like science and
                      math, so they'll keep STEM-related careers in
                      their minds as goals and options for
                      themselves. Our picture books show images of
                      young characters that reflect the true
                      diversity of the world around us and show them
                      to the world. We believe this is one way to
                      help the next generation of girls and boys see
                      that STEM is for everyone.
              </p>
            </div>
          </div>
          <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
              <%= image_tag "cover2-510.png", class: "img-responsive center-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container test">
    <div class="section-title wow fadeInDown" id="tell-me-more-section">
    <h2 id="tell-me-more-section">Tell Me More About Your New Book</h2>
          <div class="container">
    <p><h3>
            <span>Serena Sees Her Footprints on the Moon</span> is about a young girl who imagines a fun trip to the Moon, where she plays with some of the objects left
            behind up there by the Apollo astronauts.We wanted to approach the Moon and Earth’s neighboring planets from a different angle. 
Since the Moon is the most dominant thing in the night sky, it made sense to start there. And since the Moon is the only place in the Universe besides Earth where humans have walked, the footprints left on the Moon are too powerful an image to ignore.

        </h3>
    </p>
        </div>
      <hr>
      <h2>Praise for "Serena Sees"</h2>
      <div class="container">
      <p><h3>We read the book as family and we loved it. The callbacks to Serena seeing her footprints on the moon made a real impression on my 3 (almost 4) year old daughter. The next morning she said 'Daddy, did you know there are footprints on the moon?'' Good work!" - Robert M.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>Happy to report that I learned some extra things about the moon program by reading Serena sees her foot prints! I hope this is a format you plan to repeat for other books in the STEM space. - Gavin H.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>Such a lovely book.  Pure poetry.  The narration is at once elegiac and triumphant.  I love the confidence Serena exudes; she is a wonderful protagonist (a clear role model for women, girls, and POC).  I especially liked her assurance that though humans haven’t been on the far side of the Moon, she has been there.  I’m confident that readers will be spurred to do more research into the history of the Moon landings (and plans for return) after reading “Serena”! Best wishes with the launch! - Christine R.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>I absolutely love the repetition. I think it can really be a story whose words echo in children’s minds as they grow up. I also like the motif of the permanence of a girl’s accomplishments. The actions of moon-explorers may be distant, dated, and collecting dust, but they definitely happened and were definitely important. Even if nobody else can acknowledge Serena’s accomplishments, she sees the evidence of them herself and can rest assured, they cannot be taken from her. - Emma. G.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>I think this would make a great story for younger girls. I like how it not only inspires girls to reach for the things they didn’t know possible, but also tells them a lot bit about what the moon is like. This is definitely a great way to get get girls interested in STEM fields from a young age. And I like the cover art :) - Alli. B.</h3></p>
      <hr>
      </div>
      <div class="container">
      <p><h3>This story is really cool! I can see Serena's excitement about her footprints on the especially through your use of repetition. The simplicity of the facts translates well and paints very vivid pictures. I didn't have to think very hard to see her on the moon and exploring and making these discoveries. Short and sweet and too the point, I can definitely see this being part of circle time in Pre-K and Kindergarten classrooms. - Keith M.</h3></p>
      
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>

<!-- Buy our Book Section -->
<div id="contact-section buy-book" >
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Get your copy now!</h2>
      <%= link_to "Buy Book", "https://www.indiegogo.com/projects/serena-sees-her-footprints-on-the-moon-a-new-book#/", class: "btn", target: "_blank" %>
      <hr>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- About littleSTEM Books  
<div id="about-littlestem-books-section">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Tell me more about <span>little</span>STEM Books</h2>
      <p>About littleSTEM Books:
We are a publisher of picture books that show girls as the main characters in stories with science, technology, engineering, and math themes. 
Our target audience is girls from 4-9 years old, with an emphasis on girls from underrepresented minority groups.
We want to promote reading, and STEM at the same time, while also giving girls a way to see representation of themselves

    </p>

    <p>What We Want
  How we will use the money:
We will use the money to commission art and pay for production and distribution costs for e-books and physical books for our stories. 

The goal is to raise funding and give as many books away as possible to schools, after-school programs, and nonprofits like The Girls Scouts of America and Girls Inc.

For real though… how will this actually make your community more awesome?:
Girls are half the population, so anything we can do to break down stereotypes and to encourage girls to take up careers in science and technology is a positive and awesome thing.

We'll be happy when there are as many girls in STEM books as princess books, with a true diversity of girls portrayed as the leads in their own stories.
It take a lot to move the equilibrium from where it is now, with no corporate backing, only the support of individuals. 

The goal is to get to a sustainable nonprofit that can have a whole portfolio of books out there and let the GIRLS CHOOSE which ones they like the best.

We envision using donations by regular people to be able to offer these books for free to other nonprofits, so that when they have girls in stem type programs, they will also have material that shows stories and encourage the visualization of someone who looks like them doing science things!!!

In 20 years I want a whole cohort of girls and boys to have had such a mix of media impressions that they've grown up with the thought of girls interested and involved and working i. science and technology careers as no big deal.

That is the legacy I want for this organization

I want this idea to have been so big and obvious  that all the media conglomerates jump on the bandwagon
I want their market research people to say hey, we have to make a movie showing female characters as hackers and makers and electrical engineers and chemists and theoretical physicists because everyone else is making them and we don't want to miss the boat.

I also don't want this to just be about our team creating stuff.
I'd like to involve high school or college students with mini workshops, take kids who have an interest in science or who are studying science to story-fy their interests as a way of encouraging the kids behind them. Reach back and share their passions and interests with the little kids.
The act of creation of a story, of combining the left and right brain will make them better science communicators if they continue to pursue science.


    </p>
<p>    
As background, girls go into elementary school with the same interest levels as boys in STEM, but by the beginning of middle school the well documented divide has already started. Girls are constantly given messaging from our society that STEM fields are for boys and that girls are unwelcome and unfit for the sciences. Research shows that the media we all consume is at least partly to blame with limited representation of female scientists in movies and other media.
</p>

<p>Most kids do not know somebody who works in a STEM field.
So how are they going to get interested in a field where none of the images they see look like them, and they don't know anyone who does it?

STEM practitioners in the media are male by default, sending a clear message to half of the population.

By creating a series of children’s books that follow their characters’ interests in astronomy, robotics, marine life, and a host of other topics, we can present STEM subjects to girls as viable career goals and options in an entertaining way. Further, by drawing girls of different ethnicities as the main characters in different series, we can show a wide audience of girls someone who looks like them and who takes an interest in science and the world around them. We therefore will use picture book stories to model the kind of world we want our girls to live in, the world of the future where tech is as natural and necessary as the air we breathe.

As far as we know, there is no other effort anywhere in the world that specifically attacks the problem of getting more girls involved with STEM through picture book stories. We see our books as a potential counterbalance to the message that society gives young children about who can be good at science and technology. 

We want our books to show girls they belong in science and technology, too.
</p>
<p>If you are in a group that is underrepresented in tech, the equilibrium point is to stay underrepresented in the future.

So that's where the equilibrium is.
We are there right now.
</p>

<p>What Motivates Me as the Founder
What motivates me?
Age, approaching 46/47
Leaving a legacy
Leaving a world that is better for my own kids and my 20+ nieces than the one I grew up in.

Think about it before, 
Something that you are really passionate about. Something you think somebody should do.
Then, look around to see if anybody is doing it.
If not you're up!
So we are up, now. 
This is a good idea. Need help to make it fly.


As my wife put it one day a few weeks ago, I want this organization to boil the ocean!
Is that asking too much, is it??

</p>
<p>Two experiments to illustrate our point:
1The Draw A Scientist Test
2Find Female Characters in Science
But now, move out of the general universe of media, to stuff with science and tech themes.
Think of some books or movies or cartoons with female characters who are scientists, engineers, chemists, software engineers, hackers, makers, etc. 
tech background or doing tech things

Have you got any?
Take a 30 secs moment and write down a list!
Don't cheat off of your neighbors!

And now, get rid of all the sidekicks!
Every character who is a sidekick to the main character, cross it off. Even if you love the character, or the series.
Cross it off.
</p>


      <p>There is a hole in bookstore shelves online and IRL.
It is obvious, so obvious that it was like the air, I didn't really see it for a long time.
Now that we've seen it, it cannot be unseen.
And that is why we are here.
Anyone know what hole I am talking about?
Early elementary school data shows girls and boys are equally likely to be engaged by stem.

By middle school, high school, and college this is clearly no longer true!

So, what kind of influences could possibly be weighing down girls from looking at science and tech careers as goals and options.
</p>
<p>Flashing slide : THE MEDIA they consume.
I am going to concentrate of kids books, and what we need your help to do in this part I the market.

No one at any media company has ever been fired for suggesting a white male hero for a book/movie/cartoon. Anywhere!

This is true universally. I don't even have to be talking about tech for this to be true.

But now, move out of the general universe of media, to stuff with science and tech themes.
Think of some books or movies or cartoons with female characters who are scientists, engineers, chemists, software engineers, hackers, makers, etc. 
tech background or doing tech things

Have you got any?
Take a 30 secs moment and write down a list!
</p>

<p>So now, we are at the story of how this org got started.

It started from my own personal annoyance!!!!
After the fact, people have told me that lots of good nonprofits and for profits have started thy way, so I hope that bodes well for us.

In Nov 2012, I was looking for a b'day present for my sister's daughter, who was turning six.

So I went on Amazon and true to find a picture book with a girl main character and science theme.
Surprise! I spent a lot of time on Amazon, and walking thru Barnes and Nobles, and I even went to the comic store Forbidden Planet. I only came across a few titles. (These are mainstream places, I know!)
Lots of boy protagonists in this space, mostly from movie franchises like transformers, Star Wars, etc.
But few girls characters at all, and certainly no girl protagonists.

Then I started looking for princesses!!!
How many princess books can kids really consume? It is like eating too much of one type of candy, you have to get sick eventually.
</p>
<p>But no one ever got fired from a media company for suggesting another princess book, right?

My first thought was it’s a wonder that there are any girls who choose to be in tech at the beginning of the pipeline at all!

Most kids do not know somebody who works in a STEM field.
So how are they going to get interested in a field where none of the images they see look like them, and they don't know anyone who does it?

I started doing anecdotal surveys of women I met of various ages. Women say 50+, it always seemed like there was always a family member in tech, father, grandfather, sometimes mother.

But if you are in a group that is underrepresented in tech, this seems to suggest that the equilibrium point is for that group to stay underrepresented in the future.

So that's where the equilibrium is.
We are there right now.

What about people who had no family in tech, how did they get into it?

It was always something they saw on tv, or read, or it was someone they met.

I am not saying anything revolutionary! 
But what this does mean if we, collectively, can get off of this equilibrium point, the same lament is going to exist 20 years from now</p>

<p>ABOUT ME: WHY DO THIS?
Leaving a legacy
Leaving a world that is better for my own kids and my 20+ nieces than the one I grew up in.
B/C I can. I have the skill to write some of the books myself.
</p>

<p>Mission Statement

The audience for this project is children from 0-8 years old , and girls in this age group specifically. Picture books with girls as the main characters overwhelmingly show them as princesses. 
We want our project to show non-princess main characters who excel at and who love science and math. 

Our goals are to:
1) show girls positive images of girls engaged with science and math themes so they see STEM careers as goals and options,
2) show some of the most interesting ideas researcher are working on right now, and translate them into kid friendly form.
3) rely heavily on images to tell the best stories about the kinds of things that interest scientists
4) create fun picture books with compelling stories that both kids and adults will love to read.
</p>
      <hr>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
-->

<!-- Contribute to our Cause Section 
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>We want to get our books in as many hands as possible. Can you help?</h2>
      <%= link_to "Buy Multiple Copies Here", "https://www.indiegogo.com/projects/serena-sees-her-footprints-on-the-moon-a-new-book#/", class: "buy-book btn", target: "_blank"%>
      <hr>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 wow fadeInDown" data-wow-delay="200ms">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item"> <%= image_tag 'clients/01.jpg', alt: "Testimonial 1" %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>Sean Reed</strong>, Executive Director, <span>little</span>STEM Books</p>
          </div>
        </div>
      </div> 

  </div>
</div>
-->
<!-- <div id="social-section">
  <div class="container">
    <div class="social">
      <ul>
        <li><a href="https://facebook.com/girlsinstem"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://pinterest.com/agstem"><i class="fa fa-pinterest"></i></a></li>
      </ul>
    </div>
  </div>
</div> -->

<div id="footer" class="text-center">
  <div class="container">
    <p>Copyright &copy; 2016 littleSTEM Books, a 501(c)(3). All rights reserved.</p>
  </div>
</div>