
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <%= link_to "littleSTEM Books", root_path, class:"navbar-brand" %>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class:"page-scroll"%></li>
        <li><%= link_to "Our Books", "https://gum.co/softcover", target: "_blank", class: "page-scroll btn button"%></li>
        <li><%= link_to "About", "#about-section", class:"page-scroll"%></li>
        <!-- <li><%= link_to "Our Books", "#works-section", class:"page-scroll", target: "_blank"%></li> -->
<!--         <li><%= link_to "Team", "#team-section", class:"page-scroll"%></li> -->
        <li><%= link_to "Testimonials", "#testimonials-section", class:"page-scroll"%></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1 class="wow zoomIn">Welcome to <span class="brand">littleSTEM Books</span></h1>
<!--     <p class="wow fadeInDown" data-wow-delay="600ms">We make science-themed picture books for the littlest readers.</p> -->
    <div class="clearfix"></div>
<!--     <a href="#about-section" class="btn button wow fadeInDown" data-wow-delay="100ms">Find Out More</a> </div> -->
</header>

<!-- About Section -->


    <div id="about-section">
        <div class="container">
            <div class="row">
                <div class="section-title text-center center wow fadeInDown">
                    <h2>About us</h2>
                    <hr>
                </div>
                <div class="row wow fadeInDown" data-wow-delay="200ms">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <%= image_tag "cover2-510.png", class: "img-responsive center-block" %>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="about-text">
                                <h3><span class="color">Who</span> we are</h3>
                                <p>We are a team that makes beautiful picture
                                books showing young girls engaged with science
                                and technology-related themes.</p>
                                <h3><span class="color">What</span> we do</h3>
                                <p>We use the writing and artwork of our books
                                to engage our young readers and teach them fun
                                facts about the universe around them.</p>
                                <h3><span class="color">Our</span>
                                philosophy</h3>
                                <p>We want the little ones who enjoy our books
                                to self-identify as kids who like science and
                                math, so they'll keep STEM-related careers in
                                their minds as goals and options for
                                themselves. Our picture books show images of
                                young characters that reflect the true
                                diversity of the world around us and show them
                                to the world. We believe this is one way to
                                help the next generation of girls and boys see
                                that STEM is for everyone.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container test">
    <div class="section-title wow fadeInDown">
      <h2>What our Readers say about "Serena Sees"</h2>
      <div class="container">
      <p><h3>We read the book as family and we loved it. The callbacks to Serena seeing her footprints on the moon made a real impression on my 3 (almost 4) year old daughter. The next morning she said 'Daddy, did you know there are footprints on the moon?'' Good work!" - Robert M.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>Happy to report that I learned some extra things about the moon program by reading Serena sees her foot prints! I hope this is a format you plan to repeat for other books in the STEM space. - Gavin H.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>Such a lovely book.  Pure poetry.  The narration is at once elegiac and triumphant.  I love the confidence Serena exudes; she is a wonderful protagonist (a clear role model for women, girls, and POC).  I especially liked her assurance that though humans haven’t been on the far side of the Moon, she has been there.  I’m confident that readers will be spurred to do more research into the history of the Moon landings (and plans for return) after reading “Serena”! Best wishes with the launch! - Christine R.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>I absolutely love the repetition. I think it can really be a story whose words echo in children’s minds as they grow up. I also like the motif of the permanence of a girl’s accomplishments. The actions of moon-explorers may be distant, dated, and collecting dust, but they definitely happened and were definitely important. Even if nobody else can acknowledge Serena’s accomplishments, she sees the evidence of them herself and can rest assured, they cannot be taken from her. - Emma. G.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>I think this would make a great story for younger girls. I like how it not only inspires girls to reach for the things they didn’t know possible, but also tells them a lot bit about what the moon is like. This is definitely a great way to get get girls interested in STEM fields from a young age. And I like the cover art :) - Alli. B.</h3></p>
      <hr>
      </div>
      <div class="container">
      <p><h3>This story is really cool! I can see Serena's excitement about her footprints on the especially through your use of repetition. The simplicity of the facts translates well and paints very vivid pictures. I didn't have to think very hard to see her on the moon and exploring and making these discoveries. Short and sweet and too the point, I can definitely see this being part of circle time in Pre-K and Kindergarten classrooms. - Keith M.</h3></p>
      
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>

<!-- Buy our Book Section -->
<div id="contact-section">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Get your copy now!</h2>
      <%= link_to "Buy Book", "https://gum.co/softcover", class: "btn  button", target: "_blank" %>
      <hr>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Contribute to our Cause Section -->
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>We want to get our books in as many hands as possible. Can you help?</h2>
      <%= link_to "buy for organizations here", "https://www.indiegogo.com/projects/serena-sees-her-footprints-on-the-moon-a-new-book#/", class: "btn btn-default" %>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wow fadeInDown" data-wow-delay="200ms">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item"> <%= image_tag 'clients/01.jpg', alt: "Testimonial 1" %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>John DOE</strong>, CEO, Company.</p>
          </div>
          <div class="item"> <%= image_tag 'clients/02.jpg', alt: "Testimonial 2" %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>Jenny DOE</strong>, CEO, Company.</p>
          </div>
          <div class="item"> <%= image_tag 'clients/03.jpg', alt: "Testimonial 3" %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>John DOEn</strong>, CEO, Company.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="social-section">
  <div class="container">
    <div class="social">
      <ul>
        <li><a href="https://facebook.com/girlsinstem"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://pinterest.com/agstem"><i class="fa fa-pinterest"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div id="footer" class="text-center">
  <div class="container">
    <p>Copyright &copy; 2016 littleSTEM Books, a 501(c)(3). All rights reserved.</p>
  </div>
</div>

<!-- Portfolio Modals --> 
<!-- Use the modals below to showcase details about your portfolio projects! --> 

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="center-block">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h3>Serena Sees Her Footprints on the Moon</h3>
            <p class="item-intro">Available for Preorder now</p>
              <%= image_tag 'portfolio/01-preview.jpg', class:"img-responsive img-centered", alt: "portfolio preview 1" %>
            <p>
            A young girl imagines a fun trip to the Moon, where she plays with some of the objects left
            behind up there by the Apollo astronauts.
            </p>
            <ul class="list-inline">
              <li><span>Author</span>: Sean Reed</li>
              <li><span>Illustrator</span>: Sam Beck</li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <%= link_to "Preorder NOW", "https://shop.trycelery.com/page/5735f8a05fc2bd1100be49a6", target: "_blank", class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>