<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="littleSTEM Books creates awesome picture books that encourage early interest in science, technology, engineering, and math. We make little STEM Books.">

  <meta name="google-site-verification" content="-fSNxJiKqmYoXGQT-GQgb5QmAeub4NRHhRRbClJyRa0">
  <meta content="IE=Edge, chrome=1" http-equiv="X-UA-Compatible">

  <meta property="og:type" content="website">
  <meta property="og:title" content="little STEM Books | We make awesome picture books for little readers that encourage interest in STEM | little STEM Books">
  <meta property="og:description" content="little STEM Books creates awesome picture books that encourage early interest in science, technology, engineering, and math.  We make little STEM Books.">

  <meta property="og:url" content="http://www.littlestembooks.org/">
  <meta property="og:site_name" content="littleSTEM Books">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="width">
  <!-- <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet"> -->

  <meta http-equiv="Cache-Control" content="public">
  <meta http-equiv="Cache-Control" content="max-age=31536000">

  <title>littleSTEM Books | We make awesome picture books for little readers that encourage interest in STEM | little STEM Books</title>
  <link rel="canonical" href="http://www.littlestembooks.org/">


<!--   Home Style -->
  <style type="text/css" media="screen">
    header {
      background-image: url("<%= asset_path('Transit-of-Venus-1.jpg') %>");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #ed3e44;
      position: relative;
      height: 100%;
    }
  </style>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <%= link_to "littleSTEM Books", root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Donate", "https://www.fracturedatlas.org/site/fiscal/profile?id=12967", class:"btn-donate", target: "_blank"%></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

  <%= yield %>

  <%= javascript_include_tag 'application', defer: true, async: true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <div id="footer" class="text-center">
  <div class="container">
    <%= link_to "Contact Us", "mailto:sean@agstem.org" %>
    <p>Copyright &copy; 2016 littleSTEM Books, a 501(c)3 non-profit organization based in the U.S.A. All rights reserved.</p>

    <p><%= link_to "Your donations support our mission. Thank You!", "https://www.fracturedatlas.org/site/fiscal/profile?id=12967",target: "_blank" %>
    </p>
  </div>

 <!-- GoogleAnalyticsObject  -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81895331-1', 'auto');
  ga('send', 'pageview');

</script>

</body>


</html>
